<h1>Beginning</h1>
<a href="/">Home</a>
<a href="/introduction">Introduction</a>
<a href="/prologue">Prologue</a>
<a href="/beginning">Beginning</a>
<a href="/middle">Middle</a>
<a href="/end">End</a>
<a href="/final">Final</a>
<a href="/epilogue">Epilogue</a>
<a href="/about">About</a>
<p>"BOOM", "BOOM" and a mirthless laugh so terrifying, I was frozen in my chaise.</p>
<p>Taking a deep breath to gather enough courage to move, I slowly put my feet on the floor, picked up an empty kombucha bottle and an iron curtain rod that I hadn't hung yet. And walked as silently as I could muster to the door.</p>
