<h1>Final</h1>
<a href="/">Home</a>
<a href="/introduction">Introduction</a>
<a href="/prologue">Prologue</a>
<a href="/beginning">Beginning</a>
<a href="/middle">Middle</a>
<a href="/end">End</a>
<a href="/final">Final</a>
<a href="/epilogue">Epilogue</a>
<a href="/about">About</a>
<p>Hi, my name is Katie Augustina Stone-Von Hymleichstein.
</p><p>This is my account of what happened on Wednesday, February 7th, in the year of our Lord, 2018, on my birthday...</p>
<p>777 Via Dolorosa Avenue, Jericho, UT 84628</p>
<p>Sitting in my sunroom, reading Terry Brooks' latest book, 'The Black Elfstone: The Fall of Shannara', when suddenly...</p>
<p>"BOOM", "BOOM" and a mirthless laugh so terrifying, I was frozen in my chaise.</p>
<p>Taking a deep breath to gather enough courage to move, I slowly put my feet on the floor, picked up an empty kombucha bottle and an iron curtain rod that I hadn't hung yet. And walked as silently as I could muster to the door.</p>
<p>Bracing the bottle and the rod for the best possible attach position, I tipped toed to where the sounds were coming from, the kitchen.</p>
<p>The laughter continued as if the culprit didn't care if there was anyone else in the house.</p>
<p>As my courage came up, a new sound hit my ears...chewing..slurping...EATING!!!..seriously?</p>
<p>Walking slowly into the kitchen, trying not to alert the intruder, I stop dead in my tracks and gasped so loudly that the intruder heard and turned to look at me.</p>
<p>We locked eyes for what seemed like 10 thousand years. Then he? it?,
let out another one of those mirthless, terrifying laughs and turned back to his? its?, business at hand...eating all of the food in my house!</p>
<p>As you may have guessed, fear quickly turned into anger</p>
<p>Hey, I said, What the heck are you doing?</p><p>Who are you? What are you? Leave now or I will call the police!!! I said as intimidatingly as I could to the 8-foot person, thing standing in my kitchen eating all of my food.</p>
<p>He sat the chocolate cake he had stared on, down on the counter, and turned back to me.</p>
<p>'My apologies, Ms. Katie, I was just so hungry. You see, I haven't eaten in 570 years!'</p>
<p>570 years!  How is that possible?? No one lives that long! Do you think I was just born yesterday? Who are you? I scream, because I was getting PO'd.</p>
<p>'Let me introduce myself', he said.</p>
<p>'I am Tobias Trinity Stone-Von Hymleichstein, your father, and you were, in fact, born yesterday', he said with a slight, mischievous smile, 'and this', pointing to a equally tall woman I hadn't noticed previously, 'is your mother'.</p>
<p>Confused, I didn't notice I had dropped both my weapons until the glass bottle shattered and the iron bar barely missed my big toe.</p>
<p>'I am 25 years old', I state forcefully, 'and, I remember everyday day of my life, seeing I have an eidetic memory and all...so, explain that....Ren and Stimpy!'</p>
<p>The woman-thing moves toward me and says with a slight authority, 'sit down dear, let us explain', then she pull up a giant-sized chair and sits with her fingers laced, waiting for me to do the same.</p>
