<h1>Introduction</h1>
<a href="/">Home</a>
<a href="/introduction">Introduction</a>
<a href="/prologue">Prologue</a>
<a href="/beginning">Beginning</a>
<a href="/middle">Middle</a>
<a href="/end">End</a>
<a href="/final">Final</a>
<a href="/epilogue">Epilogue</a>
<a href="/about">About</a>
<p>Hi, my name is Katie Augustina Stone-Von Hymleichstein.
</p><p>This is my account of what happened on Wednesday, February 7th, in the year of our Lord, 2018, on my birthday...</p>
