<h1>Middle</h1>
<a href="/">Home</a>
<a href="/introduction">Introduction</a>
<a href="/prologue">Prologue</a>
<a href="/beginning">Beginning</a>
<a href="/middle">Middle</a>
<a href="/end">End</a>
<a href="/final">Final</a>
<a href="/epilogue">Epilogue</a>
<a href="/about">About</a>
<p>Bracing the bottle and the rod for the best possible attach position, I tipped toed to where the sounds were coming from, the kitchen.</p>
<p>The laughter continued as if the culprit didn't care if there was anyone else in the house.</p>
<p>As my courage came up, a new sound hit my ears...chewing..slurping...EATING!!!..seriously?</p>
<p>Walking slowly into the kitchen, trying not to alert the intruder, I stop dead in my tracks and gasped so loudly that the intruder heard and turned to look at me.</p>
<p>We locked eyes for what seemed like 10 thousand years. Then he? it?</p>
